# Server
PORT=3000
NODE_ENV=development

# PostgreSQL
DATABASE_URL=postgresql://user:password@localhost:5432/portfolio_tracker

# JWT
JWT_SECRET=13f2prQZV5x19taCqrohV7DfKn4qkSPmIs3WSY3rTVP
JWT_EXPIRES_IN=15m

# Encryption (for eToro token storage)
ENCRYPTION_KEY=eyJjaSI6IjYwY2FiYjBiLTU1OTctNDQ4NS04ZjYzLTdlOWUwNTZlMGJiOCIsImVhbiI6IlVucmVnaXN0ZXJlZEFwcGxpY2F0aW9uIiwiZWsiOiJSRlRZNk5xRTdNVy1GeEVjRUkuUzVZdUgwZ1A5NG9vZkNCUS12MWszLnU3ZEo1VVpjdlRxV2ZoUlR0R0FzS1Y2aFVnOGd4WkJMdmdLbUtYUzBka1Bsa0g0SFVqRHhXb0g4ZDEtWWpkbUkzOF8ifQ__

# eToro API
ETORO_API_BASE_URL=https://public-api.etoro.com/api/v1

# CORS
CORS_ORIGIN=http://localhost:8081
